body{
	font-family: Helvetica;
	background-color: #EC114E;
}

h1{
	font-weight: 100;
	font-family: Helvetica
}

#logo{
	height: 80px; 
	width: 80px; 
	border-radius: 50%
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

.btn-about {
	display: flex;
	text-align: center;

	text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-about:hover {
  text-decoration: none;
  font-weight: bold;
}
